configuration {
  modi: "combi,window,drun,run";
  combi-modi: "window,drun,run";
  //            ´bg´,     ´fg´,     ´bgalt´,  ´hlbg´,   ´hlfg´
  color-normal: "#282a36,  #f8f8f2,  #1e2029,  #bd93f9,  #282a36";
  color-urgent: "#282a36,  #ff5555,  #1e2029,  #ff5555,  #282a36";
  color-active: "#282a36,  #50fa7b,  #1e2029,  #50fa7b,  #282a36";
  //            ´background´, ´border´, ´separator´
  color-window: "#282a36,      #565761,  #f8f8f2";
  font: "mono 14";
  separator-style: "none";
}
