Host pihole
  User pi
  HostName 192.168.1.122
  Port 22
  IdentityFile ~/.ssh/pihole_rsa

Host github.com
  Hostname github.com
  User git
  IdentityFile ~/.ssh/github_rsa
  IdentitiesOnly yes

Host gitlab.com
  Hostname gitlab.com
  User git
  IdentityFile ~/.ssh/gitlab_rsa
  IdentitiesOnly yes

Host *
  AddKeysToAgent yes
